<div class="forumlist" >
<div class="catglow">
	<div class="cathead-m">	
		<div class="cathead-r">
			<div class="cathead-l">
	<ul class="dkpmenu">
	<li>
	<h5>
    &nbsp; &nbsp;<a href="{U_NEWS}">{L_MENU_NEWS}</a>
    &nbsp; &nbsp;<a href="{U_ROSTER}">{L_MENU_ROSTER}</a>
	&nbsp; &nbsp;<a href="{U_LISTMEMBERS}">{L_MENU_STANDINGS}</a>
	&nbsp; &nbsp;<a href="{U_STATS}">{L_MENU_STATS}</a>
	&nbsp; &nbsp;<a href="{U_LISTEVENTS}">{L_MENU_EVENTS}</a>
	&nbsp; &nbsp;<a href="{U_LISTRAIDS}">{L_MENU_RAIDS}</a>
	&nbsp; &nbsp;<a href="{U_LISTITEMS}">{L_MENU_ITEMVAL}</a>
	&nbsp; &nbsp;<a href="{U_LISTITEMHIST}">{L_MENU_ITEMHIST}</a>
	&nbsp; &nbsp;<a href="{U_BP}">{L_MENU_BOSS}</a>
	&nbsp; &nbsp;<a href="{U_PLANNER}">{L_PLANNER}</a>	
  	</h5>
  </li>
  </ul>	
			</div>
		</div>
	</div>	
	</div>	
</div>	
